@using EntityFrameworkCorePagination.Nuget.Pagination
@using NewsLetter.Domain.Entities
@{
    HttpContextAccessor httpContextAccessor = new();
    var isAuthenticated = httpContextAccessor.HttpContext!.User.Claims.Any();
    ViewData["Title"] = "Newletters";
    @model PaginationResult<Blog>

}

<style>
    .pagination .page-item.active .page-link {
        background-color: white;
        color: black;
    }
</style>

@if (isAuthenticated)
{
    <!-- Modal -->
    <div class="modal" id="addBlogModal" tabindex="-1" role="dialog" aria-labelledby="addBlogModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Newsletter</h5>
                    <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="addBlogForm" method="post" asp-controller="NewsLetters" asp-action="Create" autocomplete="off">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="IsPublish" name="IsPublish" />
                                <label class="form-check-label" for="IsPublish">Is Publish</label>
                            </div>
                        </div>
                        <div class="form-group mt-2">
                            <label for="content">Publish Date</label>
                            <input type="date" name="publishDate" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" name="title">
                        </div>
                        <div class="form-group">
                            <label for="content">Summary</label>
                            <textarea class="form-control" id="summary" name="summary" rows="2"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="content">Content</label>
                            <textarea class="form-control" id="content" name="content" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark w-100" aria-label="Save">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal -->
}

<div class="row">
    <div class="col-9">
        @if (isAuthenticated)
        {
            <button class="btn btn-outline-warning" onclick="openAddBlogModal()" data-toggle="modal" data-target="#addBlogModal">
                <i class="fa-solid fa-plus"></i>
                Add Newsletter
            </button>
        }
    </div>
    <div class="col-3 position-relative">
        <input class="form-control" type="search" placeholder="Search..." style="padding-left:35px" onkeydown="search(event)">
        <i class="fa-solid fa-magnifying-glass position-absolute" style="top:12px; left:25px"></i>
    </div>
</div>

<div class="card mt-2">
    @if (Model != null && Model.Datas != null)
    {
        @if (Model.Datas.Count == 0)
        {
            <div class="row justify-content-center">
                <div class="col-6 text-center">
                    <div style="font-size: 24px; color: white;">
                        <i class="fas fa-exclamation-circle"></i>
                    </div>
                    <h1 color: white; font-weight: bold">
                        No blogs found.
                    </h1>
                </div>
            </div>
        }

        else
        {

            <div class="row">
                @foreach (var blog in Model.Datas)
                {
                    <div class="col-2">
                        <img src="/blog.jpeg" width="60%" style="object-fit: cover;" />
                    </div>
                    <div class="col-10">
                        <h2>@blog.Title</h2>
                        <p>@blog.Content</p>
                    </div>
                }
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @if (!Model.IsFirstPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)" onclick="goToFirstPage()">İlk Sayfa</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)" onclick="goToPreviousPage(@Model.PageNumber)">Önceki Sayfa</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <span class="page-link">İlk Sayfa</span>
                        </li>
                    }

                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="javascript:void(0)" onclick="goToPage(@i, @Model.PageSize)">@i</a>
                        </li>
                    }

                    @if (!Model.IsLastPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)" onclick="goToNextPage(@Model.PageNumber, @Model.TotalPages)">Sonraki Sayfa</a>
                        </li>
                    }
                    else
                    {
                        <a class="page-link" href="javascript:void(0)" onclick="goToNextPage(@Model.PageNumber, @Model.TotalPages)">Sonraki Sayfa</a>
                        <a class="page-link" href="javascript:void(0)" onclick="goToLastPage(@Model.TotalPages)">Son Sayfa</a>
                    }
                </ul>
            </nav>
        }
    }
    else
    {
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <div style="font-size: 24px; color: white;">
                    <i class="fas fa-exclamation-circle"></i>
                </div>
                <h1 color: white; font-weight: bold">
                    No blogs found.
                </h1>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        function openAddBlogModal() {
            $('#addBlogModal').modal('show');
        }

        $(document).ready(function () {
            $('#addBlogForm').submit(function (event) {
                event.preventDefault();
                var url = '/NewsLetters/Create';
                var formData = $(this).serialize();
                $.post(url, formData)
                    .done(function (response) {
                        $('#addBlogModal').modal('hide');
                        location.reload();
                    })
                    .fail(function (xhr, status, error) {
                        console.error(xhr.responseText);
                    });
            });
        });

        function goToPage(pageNumber, pageSize) {
            window.location.href = '/NewsLetters?pageNumber=' + pageNumber + '&pageSize=' + pageSize;
        }

        function goToFirstPage() {
            goToPage(1, @Model.PageSize);
        }

        function goToLastPage(totalPages) {
            goToPage(totalPages, @Model.PageSize);
        }

        function goToPreviousPage(currentPage) {
            if (currentPage > 1) {
                goToPage(currentPage - 1, @Model.PageSize);
            }
        }

        function goToNextPage(currentPage, totalPages) {
            if (currentPage < totalPages) {
                goToPage(currentPage + 1, @Model.PageSize);
            }
        }

        function search(event) {
            if (event.keyCode === 13) {
                const value = event.target.value;
                window.location.href = "/NewsLetters/Index?search=" + encodeURIComponent(value);
            }
        }

    </script>
}

