@using EntityFrameworkCorePagination.Nuget.Pagination
@using NewsLetter.Domain.Entities
@model PaginationResult<Blog>
@{
    HttpContextAccessor httpContextAccessor = new();
    var isAuthenticated = httpContextAccessor.HttpContext!.User.Claims.Any();
    ViewData["Title"] = "Newletters";
}

<style>
    .pagination .page-item.active .page-link {
        background-color: white;
        color: black;
    }

    .blogLink {
        margin: 0 auto;
        font-size: 10px;
        color: #FF9800;
        text-decoration: none;
    }

    .blogLink:hover {
        text-decoration: none;
        color: darkorange;
        transform: scale(0.5);
        cursor: pointer;
    }

    .editbtn{
        color: darkorange;
    }

    .editbtn:hover{
        color: #aa2d;
    }
</style>
<div class="row">
    <div class="col-9">
        @if (isAuthenticated)
        {
            <a class="btn btn-outline-warning" href="NewsLetters/Create">
                <i class="fa-solid fa-plus"></i>
                Add Newsletter
            </a>
            <button class="btn btn-outline-info" onclick="refreshSeedData()">
                <i class="fa-solid fa-plus"></i>
                Refresh SeedData
            </button>
        }
    </div>
    <div class="col-3 position-relative">
        <input class="form-control" type="search" placeholder="Search..." style="padding-left:35px" onkeydown="search(event)">
        <i class="fa-solid fa-magnifying-glass position-absolute" style="top:12px; left:25px"></i>
    </div>
</div>

<div class="card mt-2">
    @if (Model != null && Model.Datas != null)
    {
        @if (Model.Datas.Count == 0)
        {
            <div class="row justify-content-center">
                <div class="col-6 text-center">
                    <div style="font-size: 24px; color: white;">
                        <i class="fas fa-exclamation-circle"></i>
                    </div>
                    <h1 color: white; font-weight: bold">
                        No blogs found.
                    </h1>
                </div>
            </div>
        }

        else
        {
            @foreach (var blog in Model.Datas)
            {
                <div class="card mt-1 mb-1">
                    <div class="row">
                        <div class="col-2">
                            <img src="/blog.jpeg" alt="" style="width: 100%; height: 150px; object-fit: cover;">
                        </div>
                        <div class="col-10">
                            <div class="row mt-2">
                                <div class="col-10 float-start">
                                    <a class="blogLink" href="Newsletters/Detail?url=@blog.Url">
                                        <h2>@blog.Title</h2>
                                    </a>
                                </div>
                                @if (isAuthenticated)
                                {
                                    <div class="col-2 mt-2 float-end" style="margin-right: -20px;">
                                        <button class="btn btn-outline-warning" onclick="goToEditPage('@blog.Id')">
                                            <i class="fa-solid fa-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger" onclick="RemoveByBlog('@blog.Id')">
                                            <i class="fa-solid fa-xmark"></i>
                                        </button>
                                    </div>
                                }
                            </div>
                            <p class="fw-bold">@blog.Summary</p>
                            <p>
                                @if (isAuthenticated)
                                {
                                    @if (blog.IsPublish)
                                    {

                                        <input class="form-control-checkbox" type="checkbox" onchange="changeStatus('@blog.Id', this.checked)" checked />
                                        <span class="ms-2 text-success fw-bold" style="font-size:small;">Publish Date: @blog.PublishDate</span>
                                    }
                                    else
                                    {
                                        <input class="form-control-checkbox" type="checkbox" onchange="changeStatus('@blog.Id', this.checked)" />
                                        <span class="text-danger fw-bold" style="font-size:small;">Not Published</span>
                                    }
                                }else
                                {
                                    @if (blog.IsPublish)
                                    {
                                        <span class="ms-2 text-success fw-bold" style="font-size:small;">Publish Date: @blog.PublishDate</span>
                                    }
                                    else
                                    {
                                        <span class="text-danger fw-bold" style="font-size:small;">Not Published</span>
                                    }
                                }
                            </p>
                        </div>
                    </div>
                </div>
            }
            <nav class="d-flex justify-content-center text-align-center mt-2 fw-bold">
                <ul class="pagination">
                    @if (!Model.IsFirstPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)" onclick="goToFirstPage()">İlk Sayfa</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)" onclick="goToPreviousPage(@Model.PageNumber)">Önceki Sayfa</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <span class="page-link">İlk Sayfa</span>
                        </li>
                    }

                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="javascript:void(0)" onclick="goToPage(@i, @Model.PageSize)">@i</a>
                        </li>
                    }

                    @if (!Model.IsLastPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)" onclick="goToNextPage(@Model.PageNumber, @Model.TotalPages)">Sonraki Sayfa</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)" onclick="goToLastPage(@Model.TotalPages)">Son Sayfa</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="javascript:void(0)" onclick="goToLastPage(@Model.TotalPages)">Son Sayfa</a>
                        </li>
                    }
                </ul>
            </nav>
        }
    }
    else
    {
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <div style="font-size: 24px; color: white;">
                    <i class="fas fa-exclamation-circle"></i>
                </div>
                <h1 color: white; font-weight: bold">
                    No blogs found.
                </h1>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        function goToPage(pageNumber, pageSize) {
            window.location.href = '/NewsLetters?pageNumber=' + pageNumber + '&pageSize=' + pageSize;
        }

        function goToFirstPage() {
            goToPage(1, @Model!.PageSize);
        }

        function goToLastPage(totalPages) {
            goToPage(totalPages, @Model.PageSize);
        }

        function goToPreviousPage(currentPage) {
            if (currentPage > 1) {
                goToPage(currentPage - 1, @Model.PageSize);
            }
        }

        function goToNextPage(currentPage, totalPages) {
            if (currentPage < totalPages) {
                goToPage(currentPage + 1, @Model.PageSize);
            }
        }

        function search(event) {
            if (event.keyCode === 13) {
                const value = event.target.value;
                window.location.href = "/NewsLetters/Index?search=" + encodeURIComponent(value);
            }
        }

        function changeStatus(id) {
            fetch("/Newsletters/ChangeStatus?id=" + id)
                .then(() => {
                    document.location.reload();
                });
        }

        function RemoveByBlog(id) {
            fetch("/Newsletters/Delete?id=" + id)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response;
                })
                .then(() => {
                    document.location.reload();
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }

        function goToEditPage(id) {
            window.location.href = "/Newsletters/Edit?id=" + id;
        }

        function refreshSeedData() {
            fetch("/api/SeedData/Seed", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        toastr.success(data.message, '', { positionClass: 'toast-bottom-right', timeOut: 1000 });
                        setTimeout(() => {
                            document.location.reload();
                        }, 1000);
                    } else {
                        toastr.error(data.message, '', { positionClass: 'toast-bottom-right', timeOut: 1000 });
                    }
                })
                .catch(error => {
                    toastr.error('Seed Data güncellenirken bir hata oluştu.', '', { positionClass: 'toast-bottom-right', timeOut: 1000 });
                    console.error('Hata:', error);
                });
        }
    </script>
}

